@import './Vars.scss';

body {
  margin: 0;
  font-family: $theme-font;
  background: $first-color;
}

.home * {
  box-sizing: border-box;
}

.morado {
  background-color: $first-color;
}

.verde {
  background-color: $second-color;
}